*/*/__pycache__
*/__pycache__
__pycache__
dist
run.py
*.rar
*.zip
*.pdf
*.PDF
*.cbz
*.cbr
rars
cbzs
zips
pdfs
protected_*
notes.md
.RAR_TEMP
Converted_*

!tests/files/*

tests/__pycache__
tests/*/__pycache__
