pillow==11.3.0 ; python_version >= "3.9" and python_version < "4.0"
pycryptodome==3.23.0 ; python_version >= "3.9" and python_version < "4.0"
pycryptodomex==3.23.0 ; python_version >= "3.9" and python_version < "4.0"
pymupdf==1.25.3 ; python_version >= "3.9" and python_version < "4.0"
pyzipper==0.3.6 ; python_version >= "3.9" and python_version < "4.0"
rarfile==4.2 ; python_version >= "3.9" and python_version < "4.0"
